/*Start feautres*/
.feautres {
  padding: 60px 0; }

.feautres i {
  width: 80px;
  height: 80px;
  background: var(--cl);
  border-radius: 50%;
  color: #000;
  line-height: 80px;
  font-size: 40px;
  padding: 10px;
  margin-bottom: 10px; }

.feautres h3 {
  color: var(--bg); }

.feautres p {
  color: #898989; }
  .feautres a{color: #000}
